<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pramila.StudentProjectScheduler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.pramila.StudentProjectScheduler.SubjectListActivity" />
        <activity
            android:name="com.pramila.StudentProjectScheduler.status"
            android:label="Tasks"
            android:parentActivityName="com.pramila.StudentProjectScheduler.SplashActivity" />

        <activity
            android:name="com.pramila.StudentProjectScheduler.SubjectAddActivity"
            android:parentActivityName="com.pramila.StudentProjectScheduler.SubjectListActivity" />
        <activity
            android:name="com.pramila.StudentProjectScheduler.TaskOverviewActivity"
            android:label="Tasks"
            android:parentActivityName="com.pramila.StudentProjectScheduler.SubjectListActivity" />
        <activity
            android:name="com.pramila.StudentProjectScheduler.NewTaskActivity"
            android:label="NewTaskActivity"
            android:parentActivityName="com.pramila.StudentProjectScheduler.SubjectListActivity" />
        <activity
            android:name="com.pramila.StudentProjectScheduler.EditTaskActivity"
            android:label="Edit Task"
            android:parentActivityName="com.pramila.StudentProjectScheduler.SubjectListActivity" />
        <activity android:name="com.pramila.StudentProjectScheduler.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>